// footer.scss

.footer-title {
  color: $steel;
  font-family: $font-family-heading;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-text {
  color: $steel;
  font-size: 14px;
}

.footer {
  background-color: $footer-background-color;
  color: $steel;
  font-size: 14px;
  padding: 40px 0;

  a {
    color: $steel;

    &:hover {
      color: $color-primary;
    }
  }

  .social a {
    font-family: Mono Social Icons;
    font-size: 30px;
  }

}
