// team-members.scss

.title {
  font-weight: $font-weight-light;
  padding-left: 8px;
}

.team-member {
  box-shadow: 2px 2px 2px -1px $light-grey;
  width: 100%;
}

.meet-the-team,
.instructors, {
  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0;
  }

  p {
    color: $cool-steel;
    font-family: $font-family-base;
  }

  .row {
    margin-bottom: 20px;
  }
}
