.training-class {
  padding-top: 0;

  h1,
  h2 {
    text-align: center;
  }

  .section {
    min-height: 90%;

    p {
      line-height: 1.41;
    }
  }

  .section-with-background-color {
    background-color: $color-primary;
    color: $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }

    a {
      color: $cool-dark-grey;

      &:hover {
        color: darken($cool-dark-grey, 10%);
      }
    }
  }

  .header {
    background-position: center center;
    background-size: cover;
    position: relative;
  }

  .header-content {
    background-image: linear-gradient(to bottom,
      rgba(102, 102, 102, .06) 0%,
      rgba(0, 0, 0, .3) 10%,
      rgba(0, 0, 0, .4) 100%
    );
    background-position-y: -1px;
    bottom: -1px;
    color: $white;
    left: 0;
    padding-bottom: 40px;
    position: absolute;
    right: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }
  }

  .about {
    h1,
    h2 {
      margin: 1.5em 0;
    }

    h3,
    h4 {
      color: $dark-grey;
      margin-bottom: .5rem;
      margin-top: .2rem;
    }

    h4 {
      font-size: 18px;
    }

    ul,
    ol {
      margin-left: 2.1rem;
    }

    li {
      font-size: 18px;
    }
  }

  .map {
    background-position: center center;
    background-size: cover;
    width: 100%;
  }

  .fa-map-marker {
    color: $color-primary;
    font-size: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
  }
}
