// typography.scss

h1 {
  color: $font-color-base;
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 34px;
  letter-spacing: 8px;
  text-transform: uppercase;
  transition: all 1s;
}

h2 {
  color: $cool-dark-grey;
  font-family: $font-family-base;
  font-size: 22px;
  font-weight: $font-weight-light;
  transition: all 1s;

  &.tagline {
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  >a {
    margin-bottom: 0;
  }
}

h3 {
  color: $cool-grey;
  font-family: $font-family-alt;
}

h4 {
  color: $cool-light-grey;
  font-family: $font-family-alt;
}

h5 {
  border-bottom: 3px solid $color-primary;
  color: $grey;
  display: inline-block;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
  padding-bottom: 10px;
  text-transform: uppercase;

  +hr {
    border-top: 1px solid $light-grey;
    margin: -10px 0 40px;
  }

}

h6 {
  color: $grey;
  font-family: $font-family-heading;
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.date {
  color: $cool-steel;
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 31px;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

a {
  color: $color-primary;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

.fa-ul {
  margin-left: 60px;
}

.fa-li {
  font-size: 40px;
  left: -1.75em;
  width: 1.75em;
}

@media #{$medium-up} {

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 27px;
  }
}

@media #{$large-up} {

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 2.3rem;
  }
}

