// variables.scss

$color-primary: #71bc5f;
$white: #fff;
$smoke: #f3f3f3;
$cool-light-grey: #a7abb0;
$light-grey: #ccc;
$cool-steel: #9ca4af;
$steel: #999;
$cool-grey: #7c8086;
$grey: #555;
$cool-dark-grey: #495054;
$dark-grey: #373737;

$font-family-base: 'Lato Light', Helvetica, sans-serif;
$font-family-heading: 'Lato Bold', Helvetica, sans-serif;
$font-family-alt: Lato, Helvetica, sans-serif;
$font-size-base: 18px;
$font-color-base: $dark-grey;
