<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ if .Params.noindex }}
		<meta name="robots" content="noindex" />
		{{ end }}
		<base href="{{ .Site.BaseURL }}">
		<link rel="canonical" href="{{ .Permalink }}">
		<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link href="{{ "css/styles.min.css" | absURL }}" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:700' rel='stylesheet' type='text/css'>
		<title>{{ .Title }} | {{ .Site.Title }}</title>
	</head>
	<body class="training-class">
		<div class="section header" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=34.8490239,-82.3997974&zoom=15&size=1200x800&scale=2&maptype=satellite&format=jpg')">
			<div class="header-content centered-paragraphs">
				<div class="row">
					<div class="medium-8 medium-centered columns text-center">
						<h1>{{ .Title }}</h1>
						<p>{{ .Params.tagline }}</p>
						<h4>
							{{ if .Params.startdate}}
								{{ dateFormat "Jan 2nd, 2006" .Params.startdate }}
							{{ end }}
							{{ if .Params.enddate}}
								- {{ dateFormat "Jan 2nd, 2006" .Params.enddate }}
							{{ end }}
							@
							{{ if .Params.venu }}
								{{ .Params.venu }}
							{{ end }}
							{{ if .Params.address }}
								{{ .Params.address }}
							{{ end }}
						</h4>
						{{ partial "class-sign-up.html" . }}
					</div>
				</div>
			</div>
		</div>
		<div class="section about">
			<div class="row">
				<div class="medium-8 columns medium-centered">
					{{ .Summary }}
				</div>
			</div>
		</div>
		<div class="section section-with-background-color">
			<div class="row">
				<div class="large-8 columns">
					<h3>Details</h3>
					{{ if .Content }}
						{{ replace .Content .Summary "" | safeHTML }}
					{{ end }}
				</div>
				<div class="large-4 columns">
					<i class="fa fa-map-marker"></i>
					<a class="th" href="http://maps.google.com/maps?q={{ .Params.address }}" target="_blank">
						<img class="map" src="https://maps.googleapis.com/maps/api/staticmap?center={{ .Params.address }}&size=630x630&scale=2&zoom=16">
					</a>
				</div>
			</div>
		</div>
		<div class="section sign-up">
			<div class="row">
				<div class="medium-12 medium-centered columns">
					<h2>Sign Up Today</h2>
					<p class="text-center">All we need is your name and email. We'll contact you with more details once registration opens.</p>
					{{ partial "class-sign-up.html" . }}
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
	<script src="{{ "js/app.min.js" | absURL }}" type="text/javascript"></script>
</html>
