<div class="row">
        <div class="medium-3 columns">
                {{ if .Image }}
                <img src="{{ .Image | relURL }}" alt="{{ .Title }}" title="{{ .Title }}" />
                {{ end }}
        </div>
        <div class="medium-9 columns">
                <h6>
                        {{ .Title }}
                </h6>
                <p>
                        {{ .Description }}
                        {{ if .Truncated }}
                                <a href="{{ .RelPermalink }}">Learn more &raquo;</a>
                        {{ end }}
                </p>
        </div>
</div>
<hr>
