<form class="sign-up-form" action="https://zapier.com/hooks/catch/bxr37a/" method="POST">
	<input type="hidden" name="mailchimpListId" value="{{ .Params.mailchimplistid }}">
	<div class="row">
		<div class="medium-8 columns small-centered">
			<input type="text" name="name" placeholder="Full Name" required="required">
		</div>
		<div class="medium-8 columns small-centered">
			<input type="email" autocapitalize="off" autocorrect="off" name="email" placeholder="Email Address" required="required">
		</div>
	</div>
	<div class="row">
		<div class="medium-8 columns small-centered">
			<input type="submit" class="button expand" name="submit" value="Sign Up">
		</div>
	</div>
</form>
