<div id="contact" class="row">
	<div class="medium-12 columns contact">
		<h5>Contact</h5>
		<hr>
		<div id="post-submit-message" style="display: none;">
			<h2>Thanks!<h2>
			<p>We got your message. We'll be in touch shortly</p>
		</div>
		<form id="contact-form" action="https://zapier.com/hooks/catch/bxuz81/" method="POST">
			<div class="panel radius">
				<h6>Say Hello!</h6>
				<p>How can we help you?</p>
				<input type="email" autocapitalize="off" autocorrect="off" name="email" id="MERGE0" size="20" value="" placeholder="Email Address" required="required">
				<input type="text" name="name" id="MERGE1" size="25" value="" placeholder="Full Name" required="required">
				<input type="text" name="company" id="MERGE3" size="25" value="" placeholder="Company">
				<textarea name="body" id="MERGE4" rows="12" value="" placeholder="How can we help you?" required="required"></textarea>
        <div class="g-recaptcha" data-sitekey="6LfKTYwUAAAAACVme-axdyq7oqZrfhSKEfuTPSvg"></div>
			</div>
			<input type="submit" class="button expand" name="submit" value="Send">
		</form>
	</div>
</div>
