<div class="row">
	<div class="medium-4 columns">
		<div class="process-step">
			<img src="/img/prepare.jpg" />
			<div class="process-step-text">
				<span class="process-step-number">1</span>
				<span>Prepare</span>
			</div>
		</div>
		<p class="text-center">Through story carding and wireframing sessions, we gather, analyze, and strategize the details and requirements of your future application into a plan to build a product on time and under budget.</p>
	</div>
	<div class="medium-4 columns">
		<div class="process-step">
			<img src="/img/create.jpg" />
			<div class="process-step-text">
				<span class="process-step-number">2</span>
				<span>Create</span>
			</div>
		</div>
		<p class="text-center">Using a continuous cycle of feedback and validation we build your application using contemporary and industry-standard technologies to build a first rate product that will last and fullfill the needs of your users.</p>
	</div>
	<div class="medium-4 columns">
		<div class="process-step">
			<img src="/img/evolve.jpg" />
			<div class="process-step-text">
				<span class="process-step-number">3</span>
				<span>Evolve</span>
			</div>
		</div>
		<p class="text-center">We love change and our build process makes responding to change a breeze.  Whether it’s on going maintenance for security and technology updates or new features bringing us back to step one, we are here to support your needs.</p>
	</div>
</div>
