<div class="row">
	<div class="small-12 columns">
		<h2>Services We Offer</h2>
		<ul class="fa-ul">
			<li>
				<i class="fa-li fa fa-lightbulb-o"></i>
				<h3>Preparation</h3>
				<p>The first step in our software development process is so useful that we offer it as a stand-alone service. The work products from our story carding and wireframing sessions can be used to test out an idea and discover whether it can be built on time and under budget. Once created, you own the wireframes and can use them however you like.</p>
			</li>
			<li>
				<i class="fa-li fa fa-graduation-cap"></i>
				<h3>Training</h3>
				<p>You can hire us to train you and your team in several contemporary and industry-standard technologies like Ruby, Ruby on Rails, Javascript, Node.js, Go, PHP, and CakePHP.  We can provide tailored classroom style instruction or one-on-one pairing sessions, depending on the needs of your team.</p>
			</li>
			<li>
				<i class="fa-li fa fa-comments-o"></i>
				<h3>Consulting</h3>
				<p>We can help your team get started using contemporary and industry-standard technologies and a sane development process.  From planning, design, testing, deployment, and operations, we’ve got you covered.</p>
			</li>
			<li>
				<i class="fa-li fa fa-wrench"></i>
				<h3>Development</h3>
				<p>You can come to us with your own designs, mockups, or wireframes and we’ll build your software using our battle-hardened software development process.  We’ll be in constant communication and the product will exceed your expectations.</p>
			</li>
			<li>
				<i class="fa-li fa fa-cogs"></i>
				<h3>Operations</h3>
				<p>We will help you choose the best cloud provider to match the needs of your software.  Whether you want to deploy and scale, or have us manage your existing infrastructure, we’ve got you covered.</p>
			</li>
		</ul>
	</div>
</div>
