<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="{{ .Site.BaseUrl }}">
		<link rel="canonical" href="{{ .Permalink }}">
		<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link href="{{ "css/styles.min.css" | absURL }}" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:700' rel='stylesheet' type='text/css'>
		<title>{{ .Site.Title }}</title>
	</head>
	<body>
		{{ partial "top-nav.html" . }}
		<div class="hero">
			<div class="row">
				<div class="medium-12 columns text-center">
					<h1>Handcrafted Software Solutions</h1>
					<h2 class="tagline">Making The Complex, Simple</h2>
				</div>
			</div>
		</div>
		<div id="home" class="section">
			<div class="row">
				<div class="large-9 columns">
					<h2>Elegant web, mobile, and desktop solutions for complex problems using comtemporary technologies</h2>
				</div>
				<div class="large-3 columns">
					<a href="#" class="button expand">Contact Us</a>
				</div>
			</div>
		</div>
		<div id="#process" class="section">
			<div class="row">
				<div class="large-12 columns">
					{{ partial "process.html" . }}
				</div>
			</div>
		</div>
		<div id="#services" class="section">
			<div class="row">
				<div class="large-12 columns">
					{{ partial "services.html" . }}
				</div>
			</div>
		</div>
		<div id="work" class="section">
			<div class="row">
				<div class="large-8 columns">
					{{ partial "recent-work.html" . }}
				</div>
				<div class="large-4 columns">
					{{ partial "contact.html" . }}
				</div>
			</div>
		</div>
		<div id="team" class="section">
			<div class="row">
				<div class="medium-12 columns meet-the-team">
					<h2>Meet the Team</h2>
					{{ range sort .Site.Data.TeamMembers }}
						{{ partial "team/member-list-item" . }}
					{{ end }}
				</div>
			</div>
		</div>
		<div class="section">
			<div class="row">
				<div class="medium-12 columns meet-the-team">
					<h2>Are you a fellow developer? Check out our posts and screencasts.
					<a href="{{ .Site.Params.BlogURL }}" class="button">Visit our Blog</a></h2>
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
	<script src="{{ "js/app.min.js" | absURL }}" type="text/javascript"></script>
</html>
