body {
  background-color: #f0eee1;
}

#main_image_wrap_outer{
  height: 251px;
  width: 738px;
}

#main_menu{
  position: absolute;
  z-index: 100px;
  padding: 30px 0px 0px 375px;
}

#main_image_wrap_top{
  width: 0px;
  height: 0px;
  margin: 0px 10px 0px 120px;
  border-style: solid;
  border-width: 0 0 50px 600px;
  border-color: transparent transparent #c8fe9e transparent;
}

#main_image_wrap_bottom{
  width: 0px;
  height: 0px;
  margin: 0px 0px 0px 10px;
  border-style: solid;
  border-width: 50px 600px 0 0;
  border-color: #f0eee1 transparent transparent transparent;
}

#main_image_wrap{
  background-color: black;
  height: 151px;
  width: 738px;
  border-radius: 20px;
}

#main_image{
  padding: 20px 91px 20px 91px;
  height: 105px;
  width: 516px;

}

.absolute_center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center{
  margin:auto;
}
/*
  height: 151px;
  width: 738px;
*/
